html{
    scroll-behavior: smooth;
    background-color: black;
}
main{
    width: 100%;
    height: auto;
}
nav{
    width: 100%;
    font-size-adjust: inherit;
    box-sizing: border-box;
    background: rgba(255,255,255,0.3);
    height: fit-content;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
#navbar_brand{
    color: blueviolet;
    font-weight: bold;
    transition: 1s;
}
#navbar_brand:hover{
    color: plum;
    transition: 1s;
}
nav li:hover{
    color: skyblue;
    background-color: black;
    border-radius: 10px;
    transition: 1s;
    font-weight: bold;
}
nav li:active{
    color: skyblue;
}
/*writing a css code to make the nav > ul > li to use space within nav equally*/
nav > div > ul{
    padding: 0;
    margin: 0;
    width: 80%;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
nav > div > ul > li{
    display: inline-block;
    flex: 1 1 auto;
    border-right: lightgray 1px solid;
    text-decoration: none;
    padding: 10px 5px;
    color: blueviolet;
    transition: 1s;
    text-align: center;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav > div > ul > li:last-child{
    border-right: none;
}
nav > button > span{
    border: lightgray 2px solid;
    border-radius: 50%;
    width: 30px;
    color: white;
}
/*header css finished*/

/*main body css */
section{
    width: 100%;
    margin: auto;
    height: auto;
    overflow: auto;
    background-color: black;
}
section h3{
    text-align: center;
}
/*hero*/
#hero{
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: white;
}
#message{
    margin-top: 150px;
}
#hero p{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 2;
}
#img_wrapper{
    margin: 0 auto;
    position: relative;
    width: 90%;
    margin-top: 10px;
}
#img_wrapper img{
    width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}
/*about*/
#about{
    width: 100%;
    background-color: blueviolet; /*rgb(212, 205, 191);*/
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
#about_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
}
.self_description, #academic_description{
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
}
.about_text{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    height: auto;
}
.profile_photo{
    background: black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto;
    z-index: 2;
    border: 1px solid black;
    transition: 0.5s ease-in-out;
}
.profile_photo:hover{
    transform: scale(1.2);
}

/*skills*/
/*skills overall structures*/
#skills{
    width: 100%;
    height: 50vh;
    background-color: white;
    border-bottom: 2px solid #E6ECF8;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#skills_wrapper{
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#skills_wrapper > div{
    height: auto;
    border-bottom: 2px solid #E6ECF8;
    border-right: 2px solid #E6ECF8;
}
#skills_wrapper > div:nth-child(1){
    border-left: 2px solid #E6ECF8;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#skills_wrapper > div:nth-child(3){
    border-right: 2px solid #E6ECF8;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*skills content*/
.skill_title{
    font-size: larger;
    font-weight: bold;
}
.skill_wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: auto;
}
#skills_wrapper p{
    text-align: center;
}
#dev_skills img{
    width: 30px;
    height: 30px;
    margin: 0 auto;
}
#text_skills{
    text-align: center;
}

/*projects*/
#projects{
    background: white;
    color: blueviolet; 
}
#projects_wrapper{
    width: 100%-40px;
    height: auto;
    padding: 20px;
}
.project_wrapper{
    display: flex;
    flex-flow: row wrap;
    width:100%;
    justify-content: space-evenly;
}
/*projects common traits*/
.projects{
    background-color: white;
    color: white;
    border: 1px solid #E6ECF8;
    border-radius: 10px;
    height: 270px;
    margin: 20px;
    flex: 0 0 400px;
    z-index: 1;
    transition: .5s;
    position: relative;
}
.project_hover{
    /*for itself*/
    transition: .5s ease-in-out;
    z-index: 2;
    opacity: 0;
    width: 400px;
    height: 270px;
    margin: 20px;
    border-radius: 10px;
    /*for children*/
    display: flex; 
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: #141c3a;
    color: white;
    position: absolute;
}
.project_hover:hover{
    opacity: 1;
}
.project_text{
    text-align: center;
    width: 70%;
    margin-bottom: 5%;
}

/*specific traits*/
#project1{
    background: url('../Images/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#project2{
    background: url('../Images/openai.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#project3{
    background: url('../Images/instagram.png');
    background-size: cover;
    background-repeat: no-repeat;
}


/*experience*/
#experience{
    height: auto;
    background-color: blueviolet;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: white;
}
.company{
    width:80%;
    color: black;
    margin-bottom: 5%;
}

/*contacts*/
#contacts{
    background-color: white;
    border: 1px solid #E6ECF8;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
}
#submitbutton{
    background: white;
    color: black;
    border: black 2px solid;
    transition: .5s;
}
#submitbutton:hover{
    background: blueviolet;
    color: white;
    font-weight: bold;
    border: white 2px solid;
    transition: 0.5s;
}
/*footer*/
footer{
    padding-top: 20px;
    width: 100%;
    height: auto;
    /*background-color: rgb(255, 213, 255, 0.2);*/
    background-color: blueviolet;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}
footer > div{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#socialmedia_wrapper{
    width: 60%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}
#linkedin, #instagram, #notion, #github{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0px 10px;
    margin-bottom: 20px;
}
#linkedin{
    background: url('../Images/linkedin.png') 50% 50% /100% 100%;
}
#instagram{
    background: url('../Images/instagram.png') 50% 50% /100% 100%;
}
#notion{
    background: url('../Images/notion.png') 50% 50% /100% 100%;
}
#github{
    background: url('../Images/github.png') 50% 50% /105% 105%;
}
